<a href="https://colab.research.google.com/github/TimTYC/1071NCCUMISAI/blob/master/15_Python_tips_and_tricks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **15 Python tips and tricks, so you donâ€™t have to look them up on Stack Overflow**
https://medium.com/@george.seif94/15-python-tips-and-tricks-so-you-dont-have-to-look-them-up-on-stack-overflow-90cec02705ae

**(1) Swapping values**

In [1]:
x, y = 1, 2
print(x, y)
x, y = y, x
print(x, y)

1 2
2 1

**(2) Combining a list of strings into a single one**

In [2]:
sentence_list = ["my", "name", "is", "George"]
sentence_string = " ".join(sentence_list)
print(sentence_string)

my name is George

**(3) Splitting a string into a list of substrings**

In [3]:
sentence_string = "my name is George"
sentence_string.split()
print(sentence_string)

my name is George

**(4) Initialising a list filled with some number**

In [0]:
[0]*1000 # List of 1000 zeros 
[8.2]*1000 # List of 1000 8.2's

**(5) Merging dictionaries**

In [0]:
x = {'a': 1, 'b': 2}
y = {'b': 3, 'c': 4}
z = {**x, **y}

**(6) Reversing a string**

In [7]:
name = "George"
name[::-1]

'egroeG'

**(7) Returning multiple values from a function**

In [11]:
def get_a_string():
    a = "George"
    b = "is"
    c = "cool"
    return a, b, bsentence = get_a_string()
(a, b, c) = sentence

SyntaxError: ignored

**(8) List comprehension**

In [0]:
a = [1, 2, 3]
b = [num*2 for num in a] # Create a new list by multiplying each element in a by 2

**(9) Iterating over a dictionary**

In [14]:
m = {'a': 1, 'b': 2, 'c': 3, 'd': 4} 
for key, value in m.items():
    print('{0}: {1}'.format(key, value))

a: 1
b: 2
c: 3
d: 4

**(10) Iterating over list values while getting the index too**

In [15]:
m = ['a', 'b', 'c', 'd']
for index, value in enumerate(m):
    print('{0}: {1}'.format(index, value))

0: a
1: b
2: c
3: d

**(11) Initialising empty containers**

In [16]:
a_list = list()
a_dict = dict()
a_map = map()
a_set = set()

TypeError: ignored

**(12) Removing useless characters on the end of your string**

In [17]:
name = "  George "
name_2 = "George///"
name.strip() # prints "George"
name_2.strip("/") # prints "George"=

'George'

**(13) Find the most frequent element in a list**

In [18]:
test = [1, 2, 3, 4, 2, 2, 3, 1, 4, 4, 4]
print(max(set(test), key = test.count))

4

**(14) Check the memory usage of an object**

In [20]:
import sys
x = 1
print(sys.getsizeof(x))

28

**(15) Convert a dict to XML**

In [0]:
from xml.etree.ElementTree import Element
def dict_to_xml(tag, d):
    '''
    Turn a simple dict of key/value pairs into XML
    '''
    elem = Element(tag)
    for key, val in d.items():
        child = Element(key)
        child.text = str(val)
        elem.append(child)
    return elem